*{
    margin: 0;
    padding: 0;
}

.nav{
    width: 100%;
    display: flex;
    background-color: gray;
    justify-content: space-between;
}

.home{
    display: flex;
    float: left;
    padding: 10px;
}

.home a{
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
}

.menu{
    display: flex;
    padding: 10px;
}

.menu ul{
    display: flex;
    float: right;
}

.menu ul li{
    padding: 10px;
    list-style: none;
    display: flex;
    float: right;
}

.menu ul li a{
    text-decoration: none;
    color: black;
}