*{
    margin: 0;
    padding: 0;
}

.main{
    background-color:  #FAF3E0;
}

.navbar{
    background-color: #4682B4;
    height: 100px;
}

.logo{
    width: 100px;
    height: 45px;
    float: left;
    padding: 20px;
    color: #FFA500;
    font-family: sans-serif;
}

.menu{
    display: flex;
    width: 500px;
    height: 75px;
    float: right;
}

.menu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    margin: 20px;
    list-style: none;
}

.menu ul li:hover{
    border-bottom: solid 1px white;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
}

.hero{
    margin: 0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1{
    width: 250px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4682B4;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-radius: 8px;
    margin: 5px;
    padding: 8px;
}

.card1 h2{
    font-family: sans-serif;
    font-weight: lighter;
}

.card2{
    width: 250px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFA500;
    border-left: solid 1px black;
    border-top: solid 1px black;
    border-radius: 8px;
    margin: 5px;
    padding: 8px;
}

.card2 h2{
    font-family: sans-serif;
    font-weight: lighter;
}

.card3{
    width: 250px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4682B4;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-radius: 8px;
    margin: 5px;
    padding: 8px;
}

.card3 h2{
    font-family: sans-serif;
    font-weight: lighter;
}

.cta{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta button{
    width: 500px;
    height: 65px;
    border-radius: 8px;
    background-color: #FFA500;
    border: none;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 25px;
}

.services{
    margin: 10px;
    margin-left: 40px;
}

.link1{
    align-items: center;
}

.link1 button{
    /* margin: 5px; */
    height: 75px;
    width: 650px;
    background-color: #4682B4;
    border-radius: 8px;
    border: none;
}
.link2{
    width: 60%;
    align-items: center;
    float: right;
}

.link2 button{
    /* margin: 5px; */
    height: 75px;
    width: 650px;
    background-color: #FFA500;
    border-radius: 8px;
    border: none;
}
.link3{
    align-items: center;
}

.link3 button{
    /* margin: 5px; */
    height: 75px;
    width: 650px;
    background-color: #4682B4;
    border-radius: 8px;
    border: none;
}
.link4{
    align-items: center;
    float: right;
    width: 60%;
}

.link4 button{
    /* margin: 5px; */
    height: 75px;
    width: 650px;
    background-color: #FFA500;
    border-radius: 8px;
    border: none;
}
.link5{
    align-items: center;
}

.link5 button{
    /* margin: 5px; */
    height: 75px;
    width: 650px;
    background-color: #4682B4;
    border-radius: 8px;
    border: none;
}